/* Background pattern from Toptal Subtle Patterns */

body {
  background-image: url(topography.png);
  color: #303841;
  font-family: "Mukta", sans-serif;
  margin: 30px;
}

#title {
  font-family: "Amatic SC", cursive;
  font-size: 65px;
  font-weight: bold;
  padding: 20px 0;
}

h2 {
  font-size: 32px;
  padding: 30px 0;
}

#image {
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 0 auto;
  width: 65%;
}

figcaption {
  font-size: 14px;
  font-style: italic;
  text-align: right;
  padding: 5px;
  width: 65%;
  
}

#tribute-info {
  text-align: justify;
}

#inline-p {
  display: inline;
  font-weight: bold;
  text-align: center;
}

a {
  color: #303841;
  text-decoration: none;
  font-weight: bold;
  line-height: 3;
}

a:hover {
  color: #7aa5d2;
  
}

ul {
  list-style-type: square;
}

footer {
  color: #47555e;
  padding: 15px 0;
}
